DISCORD_TOKEN=

IDLE_SHUTDOWN_MINUTES=20
IDLE_CHECK_INTERVAL_SECONDS=30
ENABLE_AUTO_SHUTDOWN=true

LIBRESPOT_BIN=/usr/local/bin/librespot
PIPE_DIR=/tmp/librespot

SPOTIFY_1_DEVICE_NAME=discord-bot-1
SPOTIFY_1_USERNAME=
SPOTIFY_1_PASSWORD=

SPOTIFY_2_DEVICE_NAME=discord-bot-2
SPOTIFY_2_USERNAME=
SPOTIFY_2_PASSWORD=
